.DS_Store
node_modules/
.vscode/
dbkeys.sh
service/dbConfig.json
WebProgramming.pem
service/database.js
# dependencies
node_modules
/.pnp
.pnp.js

# production
/build
/dist

# misc
.DS_Store

npm-debug.log*
.vscode
dbConfig.json