.players {
    flex: 1;
    width: 100%;
    padding: 0.5em 2em;
  }
  
  .player-name {
    color: rgb(118, 190, 210);
  }
  
  #player-messages {
    padding-top: 0.25em;
    opacity: 0.7;
  }
  
  .event1 {
    color: rgb(118, 190, 210);
  }
  
  .event2 {
    color: rgb(0, 255, 55);
  }

  .resetbtn {
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
  }