.boards-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipbtn {
  width: 100px;
  height: 70px;
}

.option-container {
  width: 300px;
  height: 600px;
  background-color: black;
  margin: 2vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.destroyer {
  background-color: brown;
}

.submarine {
  background-color: yellow;
}

.cruiser {
  background-color: orange;
}

.battleship {
  background-color: green;
}

.carrier {
  background-color: purple;
}

.destroyer-preview {
  width: 40px;
  height: 20px;
  margin: 20px;
}

.submarine-preview {
  width: 60px;
  height: 20px;
  margin: 30px;
}

.cruiser-preview {
  width: 60px;
  height: 20px;
  margin: 30px;
}

.battleship-preview {
  width: 80px;
  height: 20px;
  margin: 40px;
}

.carrier-preview {
  width: 100px;
  height: 20px;
  margin: 50px;
}

.gameBoardContainer {
  margin: 2vmin;
}

.game-board {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 2vmin;
}

.block {
  width: 60px;
  height: 60px;
  border: solid 1px hsla(0, 0%, 100%, .2);
}

.play-button {
    padding: 0.5em 2em;
  }

#boat-coordinates-1 {
  display: block;
}